* {
    font-family: Cambria, serif;
    text-align: center;
}

.doboz {
    background-color: paleturquoise;
    border-radius: 2.5vh;
    width: 35%;
    margin: 10px auto;
    padding: 10px;

}

h1,
[type="button"] {
    background-color: white;
    width: max-content;
    margin: auto;
}

p,
label,
input {
    font-size: 1.1em;
    margin: 1% 0px;
}
[type="text"]{
    text-align: left;
}

[type="button"]{
    width: 50%;
    height: 7vh;
    margin: 5% auto;
    font-size: 2em;
}